## MQTT broker URL (default mqtt://localhost:1883)
MQTT_URL=mqtt://localhost:1883

## Topic prefix (default sms2mqtt)
PREFIX=sms2mqtt

## ZTE modem configuration
MODEM_IP=192.168.1.1
MODEM_PASSWORD=admin

## Poll interval for checking received messages (ms)
POLL_INTERVAL=15000
